  <!-- {{#each charThumbsArr}}
    <div class="thumbs-container">
      <img src="{{this}}" alt="thumbs" class="img-fluid img-rounded">
    </div>
  {{/each}} -->

  <div class="thumbs-container">
    <img src="{{charThumbsArr}}" alt="thumbs" class="img-fluid img-rounded">
  </div>